<div class="dashboard-container">
  <h1>{{ 'DASHBOARD.TITLE' | translate }}</h1>

  <!-- Sezioni Dashboard -->
  <div class="dashboard-cards">
    <!-- Card: Numero di Prodotti -->
    <div class="card">
      <h2>{{ 'DASHBOARD.TOTAL_PRODUCTS' | translate }}</h2>
      <p>{{ totalProducts }}</p>
    </div>

    <!-- Card: Numero di Categorie -->
    <div class="card">
      <h2>{{ 'DASHBOARD.TOTAL_CATEGORIES' | translate }}</h2>
      <p>{{ totalCategories }}</p>
    </div>

    <!-- Card: Posizioni Occupate -->
    <div class="card">
      <h2>{{ 'DASHBOARD.TOTAL_POSITIONS' | translate }}</h2>
      <p>{{ totalPositions }}</p>
    </div>
  </div>

  <!-- Lista dei Prodotti -->
  <div class="product-table">
    <h2>{{ 'DASHBOARD.RECENT_PRODUCTS' | translate }}</h2>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>{{ 'PRODUCT.NAME' | translate }}</th>
        <th>{{ 'PRODUCT.CATEGORY' | translate }}</th>
        <th>{{ 'PRODUCT.POSITION' | translate }}</th>
        <th>{{ 'PRODUCT.QUANTITY' | translate }}</th>
        <th>{{ 'PRODUCT.EXPIRY_DATE' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of recentProducts">
        <td>{{ product.name }}</td>
        <td>{{ product.category?.name }}</td>
        <td>{{ product.fridgePosition?.name }}</td>
        <td>{{ product.quantity }}</td>
        <td [ngClass]="getExpiryClass(product.expiryDate)">
          {{ product.expiryDate | date: 'dd/MM/yyyy' }}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
