<div class="container text-center mt-5">
  <h1>Gestione Frigorifero</h1>
  <p class="lead">
    Benvenuto nella tua applicazione per organizzare e gestire i prodotti del frigorifero!
  </p>
  <div class="mt-5">
    <h3>Funzionalità principali:</h3>
    <ul class="list-group">
      <li class="list-group-item">Gestione dei prodotti per data di scadenza</li>
      <li class="list-group-item">Monitoraggio delle quantità disponibili</li>
      <li class="list-group-item">Posizionamento dei prodotti per categoria</li>
    </ul>
  </div>
</div>
