<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="product-form">

    <!-- BARCODE -->
    <div class="form-group">
        <label>Barcode</label>
        <div class="barcode-row">
            <input type="text" formControlName="barcode" class="form-control" placeholder="Scansiona barcode" minlength="8" maxlength="13"/>
            <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-toggle="modal"
                    data-bs-target="#scanComingSoonModal">
                📷 Scansiona
            </button>

        </div>
        <small class="text-danger"
               *ngIf="productForm.get('barcode')?.errors?.['minlength']">
            Il barcode deve avere almeno 8 caratteri
        </small>

        <small class="text-danger"
               *ngIf="productForm.get('barcode')?.errors?.['maxlength']">
            Il barcode non può superare i 13 caratteri
        </small>
    </div>

  <div class="form-group">
    <label for="name">{{ 'PRODUCT.NAME' | translate }}</label>
    <input id="name" formControlName="name" type="text" class="form-control" />
    <div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched" class="error">
      {{ 'PRODUCT.NAME_REQUIRED' | translate }}
    </div>
  </div>

  <div class="form-group">
    <label for="category">{{ 'PRODUCT.CATEGORY' | translate }}</label>
    <select id="category" formControlName="category" class="form-control">
      <option *ngFor="let category of categories" [value]="category._id">
        {{ category.name }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="quantity">{{ 'PRODUCT.QUANTITY' | translate }}</label>
    <div class="input-group">
      <input
        id="quantity"
        formControlName="quantity"
        type="number"
        class="form-control"
      />
      <select
        id="unit"
        formControlName="unit"
        class="form-control"
      >
        <option *ngFor="let unit of units" [value]="unit">{{ unit }}</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="expiryDate">{{ 'PRODUCT.EXPIRY_DATE' | translate }}</label>
    <input id="expiryDate" formControlName="expiryDate" type="date" class="form-control" />
  </div>

  <div class="form-group">
    <label for="fridgePosition">{{ 'PRODUCT.POSITION' | translate }}</label>
    <select id="fridgePosition" formControlName="fridgePosition" class="form-control">
      <option *ngFor="let fridgePosition of fridgePositions" [value]="fridgePosition._id">
        {{ fridgePosition.name }} {{ fridgePosition.description }}
      </option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="productForm.invalid">
    {{ 'PRODUCT.SAVE' | translate }}
  </button>
</form>

<table class="product-table" *ngIf="products.length > 0">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Azioni</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
        <td> {{ product.name }}</td>
        <td>
            <button (click)="deleteProduct(product._id)">Elimina</button>
        </td>
    </tr>
    </tbody>
</table>

<p *ngIf="products.length === 0">
    Nessun prodotto disponibile.
</p>

<!-- Modal -->
<div class="modal fade" id="scanComingSoonModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Scanner Barcode</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body text-center">
                <h4>🚀 Funzionalità in arrivo</h4>
                <p>La scansione del barcode sarà disponibile in una prossima versione. Inserire il codice da tastiera
                    per codici sconosciuti inserire 0000000000000</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    OK
                </button>
            </div>

        </div>
    </div>
</div>

